doctype html
html
  head
    title Easy Authentication with Node.js
    
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    
    style.
      body { 
        padding-top: 20px; 
      }
      
  body
    div.container
      div.jumbotron.text-center
        h1 Easy Authentication
        
        p Login or Register with:
        
        a.btn.btn-default(href='/login') Local Login
        a.btn.btn-default(href='/signup') Local Signup
        a.btn.btn-default(href='/auth/facebook') Facebook
        a.btn.btn-default(href='/auth/twitter') Twitter
